---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
LineEnding: LF

BreakBeforeBraces: Allman
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: Never
AccessModifierOffset: -4
NamespaceIndentation: All

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

SortIncludes: false
